@import 'libs/bootstrap/bootstrap';

// global
.alert {
	position: fixed;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	z-index: 9999;
}
.container.login {
	max-width: 500px;
}
// app
.app {
	.background {
		background: #a7cfdf;
		background: -moz-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%);
		background: -webkit-linear-gradient(-45deg, #a7cfdf 0%,#23538a 100%);
		background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
		height: 100vh;
		position: relative;
	}
	.header {
		padding-top: 20px;
	}
	@media(min-width: 768px) {
		.container-absolute {
			position: absolute;
			max-width: 700px;
			top: 40%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.main {
		background: #fcfcfc;
		padding: 40px;
		border-radius: 5px;
	}
	.progress-card {
		background: #9bd7a7;
		padding: 20px;
		border-radius: 5px;
		&.ended {
			background: #ced4da;
		}
		.progress {
			height: 30px;
		}
	}
	.deck {
		> .row {
			background: rgba(100%,100%,100%, 0.8);
			padding: 20px 0;
			height: 80vh;
			align-content: flex-start;
			overflow: auto;
			border-radius: 5px;
			> .col-sm-4 {
				margin-bottom: 20px;
			}
		}
	}
	.initialize {
		.btn {
			padding: 40px 0;
			width: 100%;
		}
	}
}

// admin
.admin {
	#sidenav {
		height: 100vh;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #333;
		overflow-x: hidden;
		padding-top: 50px;
		// transition: 0.5s;
		color: #fff;
		.menu {
			width: 100%;
		}
		a {
			color: #fff;
		}
		a:hover {
			background: #ccc;
			color: #111;
		}
		.hr {
			width: 100%;
			height: 1px;
			background: #999;
			margin: 20px 0;
		}
	}
	@media(min-width: 768px) {
		#sidenav {
			width: 200px;
		}
	}
	.content {
		margin-left: 200px;
		padding: 50px 50px;
	}
	table {
		width: 100%;
	}
	tr {
		border-bottom: 1px solid #ccc;
	}
	td {
		min-width: 150px;
		padding: 5px 0;
	}
	#calendar {
		thead tr {
			border-bottom: 0
		}
	}
}
#calendar {
	.tooltip {
		opacity: 1;
	}
	.tooltip-inner {
		background-color: #495057;
	}
	.tooltip .hidden {
		display: none;
	}
	.fc-day-grid-event {
		cursor: pointer;
	}
}
.eventDetail {
	td {
		border: 1px solid #495057;
		padding: 5px;
	}
	td:first-child {
		background: #A9B9C0;
	}
}