extends email-layout

block content
  h2 Shift Details
  p Name: 
    b #{fields.name}
  p Shift Time: 
    b #{fields.endTime}
  p Location: 
    b #{fields.location}
  p Duration: 
    b #{fields.duration}