extends email-layout

block content
  h2 Shift Details
  p Name: 
    b #{fields.name}
  p Student(ID): 
    b #{fields.student}
  p Start Time: 
    b #{fields.startTime}
  if fields.endTime
    p End Time: 
      b #{fields.endTime}
  if fields.duration
    p Duration: 
      b #{fields.duration}
  if fields.notes
    p Notes:
      b #{fields.notes}