extends email-layout

block content
  p
    b Dear #{fields.name},
  p This is a reminder that you have signed up to be a volunteer at the following event:
  p Event name: 
    b #{fields.event.title}
  p Event starts: 
    b #{fields.event.start}
  if fields.event.end
    p Event ends:
      b #{fields.event.end}
  p Event location/description: 
    b #{fields.event.description}
  if fields.event.volunteerInformation
    p Volunteer Information:
      b #{fields.event.volunteerInformation}
  if fields.note
    p Your notes: 
      b #{fields.note}
  each attendee in fields.event.attendees 
    - if (attendee.email == fields.email)
      p To cancel your RSVP, 
        -
          const name = encodeURI(fields.name),
                title = encodeURI(fields.event.title),
                date = encodeURI(fields.event.start);
        a(href=`http://www.ncsband.com/api/calendar/${fields.event._id}/${attendee._id}/cancel?name=${name}&event=${title}&date=${date}`) CLICK HERE
      p= `http://www.ncsband.com/api/calendar/${fields.event._id}/${attendee._id}/cancel?name=${name}&event=${title}&date=${date}`