extends adminLayout

block content
	.eventDetail
		.container.container-absolute
			.header.text-center.mb-4
				h1 #{event.title}
			table.mr-2
				tbody
					tr
						td Event Type
						td #{event.category}
					tr
						td Start Time
						td #{h.moment(event.start).format('MM/DD/YYYY - h:mm a')}
					if event.end
						tr
							td End Time
							td #{h.moment(event.end).format('MM/DD/YYYY - h:mm a')}
					if event.description
						tr
							td Location/Description
							td #{event.description}
					if event.volunteerInformation
						tr
							td Volunteer Information
							td #{event.volunteerInformation}
					- const slots = (availableSlots != 0 ? true : false)
					if slots
						tr 
							td Volunteer RSVPs
							td #{event.filledSlots}/#{event.availableSlots}
						tr
							td List of volunteers
							td
								ul
									- var emails = []
									each attendee in event.attendees
										- emails.push(attendee.email);
										li 
											b #{attendee.name}
											if attendee.note
												|  - #{attendee.note}
											br
											.btn-group.mb-3
												a.btn.btn-sm.btn-info(href=`mailto:${attendee.email}`) Send Email
												a.btn.btn-sm.btn-danger(href=`/api/calendar/${event._id}/${attendee._id}/removeVolunteer`) Remove
		.container.my-2
			button#edit-event-button.btn.btn-info.mr-2(type="button" data-toggle="modal" data-target="#add-event-modal" data-id=`${event._id}`) Edit event
			a#edit-event-button.btn.btn-dark.mr-2(href=`mailto:${emails.join(';')}` target="_blank") Email All
	.modal#add-event-modal(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				form(action=`/api/calendar/edit/${event._id}` method="POST")
					.modal-header
						h5.modal-title Edit Event
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					.modal-body
						.form-group.form-row
							.col
								label Event Title
									sup.text-danger *
								input.form-control(type="text" name="title" required autofocus value=`${event.title}`)
						.form-group.form-row
							.col
								label Event Location/Description
									sup.text-danger *
								textarea.form-control(name="description" required) #{event.description}
						.form-group.form-row
							.col
								label Event Category
									sup.text-danger *
								select.form-control#cat(name="category" required)
									option(disabled selected value="") Please Select a Category
									option(value="Concession Stand") Concession Stand
									option(value="Marching Band") Marching Band
									option(value="Percussion Ensemble") Percussion Ensemble
									option(value="Band") Band
									option(value="Other") Other
						.form-group.form-row
							.col-4
								label Start Date
									sup.text-danger *
								input.form-control(type="date" name="start" required value=`${event.start.split(' ')[0]}`)
							.col-4
								label Start Time
									sup.text-danger *
								input.form-control(type="time" name="startTime" required value=`${event.start.split(' ')[1]}`)
							.col-4
								label End Time
								if event.end
									input.form-control(type="time" name="endTime" value=`${event.end.split(' ')[1]}`)
						.form-group.form-row
							.col
								label Volunteer Information
								textarea.form-control(name="volunteerInformation") #{event.volunteerInformation}
						.form-group.form-row
							.col-6
								label Volunteers needed
								input.form-control(type="number" name="filledSlots" value=`${event.filledSlots}`)
							.col-6
								label Volunteers needed
								input.form-control(type="number" name="availableSlots" value=`${event.availableSlots}`)
					.modal-footer
						button.btn.btn-success(type="submit" value="Submit") Submit
						button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel