extends adminLayout

block content
	h2 #{title}
	table
		tr
			th Username
			th Access level
			th Action
		each user in users
			tr(class=`${user._id}`)
				td=user.email
				td=user.access
				td
					button.btn.btn-danger.delete-user(type="button" data-id=`${user._id}`) Delete User
	.mt-3
		button.add-student.btn.btn-outline-primary.btn-sm.mr-3(type="button" data-toggle="modal" data-target="#add-user-modal") + Add User
	.modal#add-user-modal(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				form(action="/admin/register" method="POST")
					.modal-header
						h5.modal-title Add User
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					.modal-body
						.form-group
							.form-row.mb-2
								label(for="email") Email
								input.form-control(type="email" name="email" required)
							.form-row.mb-2
								label(for="password") New Password
								input.form-control(type="password" name="password" required)
							.form-row
								label(for="password-confirm") Confirm Password
								input.form-control(type="password" name="password-confirm" required)
							.form-row
								label(for="access") Access Level
								select.form-control(name="access" required)
									option(selected value=1) 1 - Calendar Manager
									option(value=2) 2 - Calendar/Shift Manager
									option(value=0) 0 - Administrator
					.modal-footer
						button.btn.btn-success(type="submit" value="Submit") Submit
						button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
