doctype html
html
  head
    title #{title} | #{h.siteName}
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    link(href='/css/fullcalendar/core.css' rel='stylesheet' type="text/css")
    link(href='/css/fullcalendar/daygrid.css' rel='stylesheet' type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.admin
    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            -if (category == 'error') category = 'danger';
            .alert(class=`alert-${category}`)
              span.flash__text!= message
              button.close(onClick="this.parentElement.remove()") &times;
    #sidenav
      .logo
        h3.text-center NCS
      .menu.btn-group-vertical
        a.btn.btn-block(href="/admin/students") Manage Students
        a.btn.btn-block(href="/admin/shifts") Manage Shifts
        a.btn.btn-block(href="/admin/calendar") Manage Calendar
        a.btn.btn-block(href="/admin/users") Manage Users
        a.btn.btn-block(href="/app" target="_blank") Open Time Tracker
        .hr
        a.btn.btn-block(href="/admin/logout") Log Out
    .content
      .container
        block content

    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.min.js")
      script(src="https://unpkg.com/popper.js@1.14.3/dist/umd/popper.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
      script(src="/dist/Admin.bundle.js")
