extends adminLayout

block content
	h1 Calendar
	button.btn.btn-primary.float-right(type="button" data-toggle="modal" data-target="#add-event-modal") + Add Event
	.clearfix.my-3
	#calendar
	.modal#add-event-modal(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				form(action="/api/calendar/add" method="POST")
					.modal-header
						h5.modal-title Add Event
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					.modal-body
						.form-group.form-row
							.col
								label Event Title
									sup.text-danger *
								input.form-control(type="text" name="title" required autofocus)
						.form-group.form-row
							.col
								label Event Location/Description
									sup.text-danger *
								textarea.form-control(name="description" required)
						.form-group.form-row
							.col
								label Event Category
									sup.text-danger *
								select.form-control(name="category" required)
									option(value="Concession Stand") Concession Stand
									option(value="Marching Band") Marching Band
									option(value="Percussion Ensemble") Percussion Ensemble
									option(value="Band") Band
									option(value="Other") Other
						.form-group.form-row
							.col-4
								label Start Date
									sup.text-danger *
								input.form-control(type="date" name="start" required)
							.col-4
								label Start Time
									sup.text-danger *
								input.form-control(type="time" name="startTime" required)
							.col-4
								label End Time
								input.form-control(type="time" name="endTime")
						.form-group.form-row
							.col
								input.mr-2(type="checkbox" name="multiDate" id="multiDate")
								label.form-check-label(for="multiDate") Multiple Dates
						.multidate.d-none
							input(type="hidden" name="count" value="1")
							.form-group.form-row.multidate-1
								.col-4
									input.form-control(type="date" name="date_1")
								.col-4
									input.form-control(type="time" name="time_1")
								.col-4
									input.form-control(type="time" name="end_1")
							button#add-date.btn.btn-outline-info.mb-2(data-count=1) + Add Date
						.form-group.form-row
							.col
								label Volunteer Information
								textarea.form-control(name="volunteerInformation")
						.form-group.form-row
							.col-6
								label Volunteers needed
								input.form-control(type="number" name="availableSlots")
					.modal-footer
						button.btn.btn-success(type="submit" value="Submit") Submit
						button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel