extends adminLayout

block content
  h2 #{title}
  form(action="/admin/register" method="POST")
    .row
      .col
        label(for="email") Enter Email
        input.form-control(type="email" name="email" required value=`${body ? body.email : '' }`)
      .col
        label(for="password") Enter New Password
        input.form-control(type="password" name="password" required)
        label(for="password-confirm") Confirm Password
        input.form-control(type="password" name="password-confirm" required)
    input.btn.btn-primary.my-3(type="submit" value="Submit")