extends loginLayout

block content
  h2 #{title}
  form(action="/admin/login" method="POST")
    .row
      .col
        label(for="email") Username
        input.form-control(type="email" name="email")
      .col
        label(for="password") Password
        input.form-control(type="password" name="password")
    input.btn.btn-primary.my-3(type="submit" value="Log In")