extends adminLayout

block content
	h2 #{title}
	table
		tr
			th Student Name
			th Total Hours
			th Earnings
			th Last Reset
			th Action
		each student in students
			tr(class=`${student._id}`)
				td.name #{student.name}
				//- calclate total hours and earnings from shifts.
				- 
					let totalHours = 0;
					student.shifts.forEach(function(shift) {
						const duration = h.moment(shift.endTime).diff(shift.startTime);
						totalHours += shift.duration;
					});
					let wage = 8;
					let totalEarnings = ((totalHours/3600000) * wage).toFixed(2) 
				td.hours #{h.msToTime(totalHours, true) || 0}
				td.earnings $#{totalEarnings}
				//- td.earnings $#{(parseFloat(student.earnings).toFixed(2))}
				td.reset_date #{h.moment(student.reset_date).format('MM/DD/YY')}
				td
					button.reset-earnings.btn.btn-outline-warning.btn-sm.mr-1(data-id=`${student._id}`) Reset
					button.delete-student.btn.btn-outline-danger.btn-sm(data-id=`${student._id}`) Remove
	.mt-3
		button.add-student.btn.btn-outline-primary.btn-sm.mr-3(type="button" data-toggle="modal" data-target="#add-student-modal") + Add Student
		button.reset-all.btn.btn-outline-danger.btn-sm.mr-3(type="button") - Reset All Earnings
		button#exportCSV.btn.btn-outline-secondary.btn-sm(type="button" data-model="Student") Export to CSV
	.modal#add-student-modal(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				form(action="/api/student/add" method="POST")
					.modal-header
						h5.modal-title Add Student
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					.modal-body
						.form-group.form-row
							.col
								label First Name
								input.form-control(type="text" name="first_name" required autofocus)
							.col
								label Last Name
								input.form-control(type="text" name="last_name" required)
					.modal-footer
						button.btn.btn-success(type="submit" value="Submit") Submit
						button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel