extends adminLayout

block content
	h2 #{title}
	.row.my-3
		.col-sm-3
			label(for="sortby") Sort by: &nbsp;
			select(name="sort" id="sortby")
				option(value="startTime" selected=q.sort=='startTime') Start Time
				option(value="endTime" selected=q.sort=='endTime') End Time
				option(value="duration" selected=q.sort=='duration') Duration
				option(value="student" selected=q.sort=='student') Student (Internal ID)
				option(value="name" selected=q.sort=='name') Worker Name
		.col-sm-3
			label.mr-1(for="asc") Ascending
			input.mr-2(type="radio" name="order" value=1 id="asc" checked=q.order==1)
			label.mr-1(for="dsc") Descending
			input.mr-2(type="radio" name="order" value=-1 id="dsc" checked=q.order==-1)
		.col-sm-3
			label(for="limit") Results per page: &nbsp;
			select(name="limit" id="limit")
				option(value=20 selected=q.limit=='20') 20
				option(value=50 selected=q.limit=='50') 50
				option(value=100 selected=q.limit=='100') 100
		.col-sm-3
			button#applySort.btn.btn-secondary.btn-sm(data-page="1") Apply
	table#shift-table
		tr
			th Student
			th Worker
			th(style="min-width:180px") 
				| Start Time
				br
				| End Time
			th Duration
			th Action
		each shift in shifts
			if shift.student_detail[0]
				tr(class=`${shift._id}`)
					td #{shift.student_detail[0].name}
					td #{shift.name} 
					td 
						| #{h.moment(shift.startTime).format('MM/DD/YY - hh:mm a')}
						br 
						| #{h.moment(shift.endTime).format('MM/DD/YY - hh:mm a')}
					td #{h.msToTime(shift.duration, false) || 'In Progress'}
					td 
						button.edit-shift.btn.btn-outline-info.btn-sm.mr-1(type="button" data-toggle="modal" data-target="#edit-shift-modal" data-id=`${shift._id}`) Edit
						button.delete-shift.btn.btn-outline-danger.btn-sm(data-id=`${shift._id}`) Delete
	.text-center
		- var page = 1;
		- const pages = Math.ceil(shiftCount/q.limit);
		while page <= pages
			- var currentPage = (q.page == page);
			if currentPage
				span.mr-3= page++
			else
				a.mr-3.paginate(href="javascript:void(0)" data-page=page)= page++
	button.add-shift.btn.btn-outline-primary.btn-sm.mt-3.mr-3(type="button" data-toggle="modal" data-target="#add-shift-modal") + Add Shift
	button.clear-shifts.btn.btn-outline-danger.btn-sm.mt-3.mr-3(type="button") - Clear All Shifts
	button#exportCSV.btn.btn-outline-secondary.btn-sm.mt-3(type="button" data-model="Shift") Export to CSV
	//- Add shift modal
	.modal#add-shift-modal(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				form(action="/api/shift/add" method="POST")
					.modal-header
						h5.modal-title Add Shift
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					.modal-body
						.form-group.form-row
							.col
								label User Name
								input.form-control(type="text" name="name" required autofocus)
						.form-group.form-row
							.col
								select#student-list.form-control(name="student" required)
									option(selected disabled) --Select student
									each student in students
										option(value=`${student._id}`) #{student.name}
						.form-group.form-row
							.col-sm-6
								label Date
								input.form-control(type="date" name="date" required)
						.form-group.form-row
							.col-sm-6
								label Start Time (Ex: 04:30 PM)
								input.form-control(type="time" name="startTime" required)
							.col-sm-6
								label End Time
								input.form-control(type="time" name="endTime" required)
						.form-group.form-row
							label.col-sm-2.col-form-label Duration
							.col-sm-10
								input.duration.form-control(type="text" value="" name="duration")
						.form-group.form-row
							label Notes
							textarea.form-control(name="notes")
					.modal-footer
						button.btn.btn-success(type="submit" value="Submit") Submit
						button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
	//- Edit shift modal
	.modal#edit-shift-modal(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				form(action="/admin/api/shift/edit" method="POST")
					input.hidden-id(type="hidden" value="" name="id")
					.modal-header
						h5.modal-title Edit Shift
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					.modal-body
						.form-group.form-row
							.col
								label User Name
								input.form-control(type="text" name="name" required autofocus)
						.form-group.form-row
							.col
								select#student-list.form-control(name="student" required)
									option(selected disabled) --Select student
									each student in students
										option(value=`${student._id}`) #{student.name}
						.form-group.form-row
							.col-sm-6
								label Date
								input.form-control(type="date" name="date" required)
						.form-group.form-row
							.col-sm-6
								label Start Time
								input.form-control(type="time" name="startTime" required)
							.col-sm-6
								label End Time
								input.form-control(type="time" name="endTime" required)
						.form-group.form-row
							label.col-sm-2.col-form-label Duration
							.col-sm-10
								input.duration.form-control(type="text" value="" name="duration")
						.form-group.form-row
							label Notes
							textarea.form-control(name="notes")
					.modal-footer
						button.btn.btn-success(type="submit" value="Submit") Submit
						button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel

