extends layout

block content
  .container.container-absolute
    .header.text-center.text-white.mb-4
      h4 NCS BAND
      h1 Concession Stand
    .main.shadow
      .initialize
        h4.text-center.mb-4.text-muted Select a location
        .row
          .col
            a.btn.btn-secondary.btn-lg(href="/login/Big-Stand") Big Stand
          .col
            a.btn.btn-secondary.btn-lg(href="/login/Small-Stand") Small Stand
