extends calendarLayout

block content
	.eventDetail
		.container.container-absolute
			.header.text-center.mb-4
				h1 #{event.title}
			table
				tbody
					tr
						td Event Type
						td #{event.category}
					- const start_date = event.start.split(' ')[0];
					- const start_time = event.start.split(' ')[1];
					tr
						td Start Time
						td #{h.moment(event.start).format('MM/DD/YYYY - h:mm a')}
					if event.end
						- const end_time = event.end.split(' ')[1];
						- console.log(event.end);
						tr
							td End Time
							td #{h.moment(event.end).format('MM/DD/YYYY - h:mm a')}
								br
								| #{h.moment(event.end)}
					if event.description
						tr
							td Location/Description
							td #{event.description}
					if event.volunteerInformation
						tr
							td Volunteer Information
							td #{event.volunteerInformation}
					- const slots = (availableSlots != 0 ? true : false)
					if slots
						tr 
							td Volunteer RSVPs
							td #{event.filledSlots}/#{event.availableSlots}
						tr
							td List of volunteers
							td
								ul
									each attendee in event.attendees
										li #{attendee.name} - #{attendee.note}
		.container.my-2
			a.btn.btn-success.mr-2(href="/calendar") Go Back
			button.btn.btn-info.mr-2(type="button" onClick="window.print()") Print
			- let limit = (event.filledSlots == event.availableSlots ? true : false);
			if !limit
				button.btn.btn-primary.mr-2(type="button" data-toggle="modal" data-target="#attend-modal") + Volunteer at this Event
		.container.my-2
			p.my-0 Add this event to my Calendar:
			a.btn.btn-secondary.btn-sm.mr-2(href=`data:text/calendar;charset=utf8,${icsMsg}`) iCal/Outlook
			a.btn.btn-secondary.btn-sm.mr-2(href=`${gCal}`) Google Calendar
				//- https://www.google.com/calendar/render?action=TEMPLATE&text=Your+Event+Name&dates=20140127T224000Z/20140320T221500Z&details=For+details,+link+here:+http://www.example.com&location=Waldorf+Astoria,+301+Park+Ave+,+New+York,+NY+10022&sf=true&output=xml
	.modal#attend-modal(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				p= `/api/calendar/${event._id}/attend`
				form(action=`/api/calendar/${event._id}/attend` method="POST")
					.modal-header
						h5.modal-title Volunteer Information
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
					.modal-body
						.form-group.form-row
							.col
								label Name
								input.form-control(type="text" name="name" required autofocus)
							.col
								label Email
								input.form-control(type="email" name="email" required)
						.form-group.form-row
							.col
								label Notes
								textarea.form-control(name="note")
					.modal-footer
						p I agree to receive notifications and updates about this event via email.
						button.btn.btn-success(type="submit" value="Submit") Submit
						button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel