extends calendarLayout

block content
	.container.container-absolute
		.header.text-center.mb-4
			<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=suggestion%3AAmerica%2FNew_York&amp;src=cTc5NDhoZTM0ZGwzYjRvczNjc2o0ZGhyYThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F09300" style="border-width:0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>