doctype html
html
  head
    title #{title} | #{h.siteName}
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body.app
    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            - if (category == 'error') category = 'danger';
            .alert(class=`alert-${category}` role="alert")
              span.flash__text!= message
              button.close(onClick="this.parentElement.remove()") &times;
    .content
      .background
        block content

    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
      script(src="/dist/App.bundle.js")
