extends layout

include mixins/_newStudentModal

block content
  .container.container-absolute
    .header.text-center.text-white.mb-4
      h4 NCS BAND
      h1 Concession Stand
    .main.shadow
      form#startShift(action=`/login/concession-stand` method="POST")
        input#startTime(type="hidden" value="" name="startTime")
        .row
          .col-sm
            .form-group
              input.form-control(type="text" name="name" id="name" placeholder="Enter your name" required)
        .row
          .col-sm
            .form-group
              select.form-control(name="student" id="student")
                option(selected disabled) --Select affiliated student
                each student in students
                  option(value=`${student._id}`) #{student.name}
        input.btn.btn-success.btn-block.btn-start(value="Log In and Start Shift")
      .text-center
        button.btn.btn-link(type="button" data-toggle="modal" data-target="#add-student-modal") Register New Student
    .text-center.py-4
      a.btn.btn-light.mr-2(href=`/shift/progress`) View Open Shifts
      a.btn.btn-warning(href=`/calendar`) View Calendar
  +newStudentModal()
