extends adminLayout

block content
  form(action="/students/new" method="POST")
    .row
      .col-sm
        input.form-control(type="text" id="first_name" name="first_name" placeholder="First Name" required)
      .col-sm
        input.form-control(type="text" id="last_name" name="last_name" placeholder="Last Name" required)
    input.btn.btn-success(type="submit" value="Save")