extends layout

include mixins/_progressCard
include mixins/_shiftEndedModal

block content
  .header.text-center.text-white.mb-4
    div.text-center
      a.btn.btn-success.btn-lg.mt-3(href=`/time-tracker`) New Login

  .container
    .deck
      .row
        each shift in recentShifts
          .col-lg-3.col-md-4.col-sm-6.mb-3
            +progressCard(shift, 'ended')
        each shift in activeShifts
          .col-lg-3.col-md-4.col-sm-6.mb-3
            +progressCard(shift, 'active')

  .modal#email-details(tabindex="-1" role="dialog" data-id="")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title.text-center Shift ended 
            span.name.text-primary -Name-
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          .row
            .col-sm-6
              p Time ended:  
                 span.ended
            .col-sm-6
              p Duration: 
                span.duration
            .col-12
              form(action="/api/shift/email" method="post")
                label(for="email") Email me shift details
                .input-group.mb-3
                  input.form-control(type="email" name="email" placeholder="Email Address" required)
                  .input-group-append
                    input.btn.btn-primary.email(type="submit" value="Send")
                input.ended(type="hidden" name="endTime")
                input.duration(type="hidden" name="duration")
                input.name(type="hidden" name="name")
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close