extends layout

block content
  .container.container-absolute
    .header.text-center.text-white.mb-4
      h4 NCS BAND
      h1 Concession Stand
    .main.shadow
      form(action="/start" method="POST")
        .row
          .col-sm
            .form-group
              input.form-control(type="text" name="first_name" id="first_name" placeholder="Enter your first name" required)
          .col-sm
            .form-group
              input.form-control(type="text" name="last_name" id="last_name" placeholder="Enter your last name" required)
        .row
          .col-sm
            .form-group
              select.form-control(name="student" id="student")
                option(selected disabled) --Select affiliated student
                each student in students
                  option= `${student.last_name}, ${student.first_name}`
        .row
          .col-lg
            .form-group
              input.btn.btn-success.btn-block(type="submit" value="Start Shift")