mixin newStudentModal()

  .modal#add-student-modal(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
      .modal-content
        form(action=`/students/add` method="POST")
          .modal-header
            h5.modal-title Add Student
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            .form-group.form-row
              .col
                label First Name
                input.form-control(type="text" name="first_name" required autofocus)
              .col
                label Last Name
                input.form-control(type="text" name="last_name" required)
          .modal-footer
            button.btn.btn-success(type="submit" value="Submit") Submit
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel