mixin progressCard(shift, status)

  .progress-card(class=`${status}` id=`${shift.id}`)
    input.student(type="hidden" value=`${shift.student}`)
    input.start-time(type="hidden" value=`${shift.startTime}`)
    h5.text-center.shiftName #{shift.name}
    .row(class=`${status === 'active' ? '' : 'd-none'}`)
      .col-6
        p Elapsed 
          br
          span.elapsed
      .col-6.text-right
        p Remaining 
          br
          span.remaining
      .col-sm-12
        .progress.mb-3
          .progress-bar.progress-bar-striped.bg-primary(role="progressbar" style="width:0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
      .col-12
        button.btn.btn-danger.btn-block.mb-2(class="end-shift" data-id=`${shift._id}`) End Shift
    .row(class=`${status === 'ended' ? null : 'd-none'}`)
      .col-12
        p.text-center Shift Ended
          br
          | Duration: 
          span.duration #{h.msToTime(shift.duration, true)}
        button.btn.btn-secondary.btn-block.mb-2.email-button(data-toggle="modal" data-target="#email-details" data-id=`${shift._id}`) Email Details
        button.btn.btn-danger.btn-block.mb-2.remove-card(data-id=`${shift._id}`) Remove
