mixin shiftEndedModal()

  .modal#shift-ended-modal(tabindex="-1" role="dialog" data-id="")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title.text-center Shift ended 
            span.name.text-primary -Name-
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          .col-sm-6
            p Time ended:  
              span.ended #{h.moment(endTime).format('M/DD/YY h:mm:ss a')}
          .col-sm-6
            p Duration: 
              span.duration #{h.msToTime(duration, true)}
          label(for="notes") Shift Notes
          .input-group.mb-3
            textarea.form-control.notes(name="notes") #{notes}
            .input-group-append
              button.btn.btn-success.btn-block.save-note(disabled) Update Notes
          label(for="email") Email Shift Details
          .input-group
            input.form-control(type="email" name="email" placeholder="Email Address" required)
            .input-group-append
              button.btn.btn-warning.email(type="button") Send &#9993;

        .modal-footer
          button.btn.btn-warning(type="button" data-dismiss="modal") Close